.login__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    &>h1{
        font-size: 3rem;
        font-weight: bold;

    }

    &>form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 50%;

        &>input{
            max-width: 400px;
            outline: none;
            border: none;
            width: 100%;
            text-align: start;
            padding: 15px;
            border-radius: 12px;
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }

        & label{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            & input{
                width: 50px;
            }
            

            & span{
                object-fit: cover;
            }
        }
    }

    &>a{
        color: blue;
        text-decoration:underline ;
    }
}

