.personal__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &>h1{
        font-size: 3rem;
        font-weight: bold;
        align-self: flex-start;
    }

    &>.info__block{
        background-color: white;
        border-radius: 1rem;
        width: 70%;

        &>div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1rem;

            &>div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 0.5rem;

                &>img{
                    width: 20px;
                    cursor: pointer;
                }
            
            }
        }
    }
}

.personal__ad{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &>h1{
        font-size: 3rem;
        font-weight: bold;
        align-self: flex-start;
    }

    &>.personal__ad__block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        width: 100%;

        &>div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            width: 90%;
            max-height: 600px;
            border-radius: 1rem;

            &>img{
                width: 100%;
                height: 50%;
                border-radius: 1rem;

            }

            &>h2{
                font-size: 2rem;
                font-weight: bold;
            }

            &>p{
                font-size: 1.5rem;
                text-align: justify;
            }

            &>span{
                font-size: 1.2rem;
                justify-self: end;            }

            &>button{
                font-size: 1.2rem;
                padding: 0.5rem 1.5rem;
                justify-self: end;
                
            }
        }

        &>.per__act__box{
            background-color:red;
        }
    
        &>.per__mod__box{
            background-color: lightskyblue;
        }
        &>.per__comp__box{
            background-color: green;
        }
        &>.per__arch__box{
            background-color: lightgrey;
        }

    }

   

    


}

